.date {
    float: right;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
}

.price {    
    font-size: 22px;
    margin-top: 10px;
}

.bidText {
    padding-top: 25px;
    font-size: 22px;
    margin-bottom: 0px;
}

.text {
    font-size: 18px;
}

.heading {
    margin-top: 10px;
}

.username {
    text-align: center;
}

.role {
    margin: 15px 10px 0 10px;
    font-size: 18px;
}

.recipient {
    text-align: right;
}

.time {
    float: left;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
}

.segment-sender {
    width: 80%;
    margin-bottom: 15px;
}

.segment-recipient {
    width: 80%;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
}

.bid-price {
    font-size: 30px;
    margin-bottom: 10px;
}

.enter-text {
    margin-right: 10px;
    width: 100%;
}

.group {
    text-align: center;
    margin-top: 20px;
}

.btn-button {
    width: 100%;
}

.active-border {
    border-style: solid;
    border-width: 0.8em;
    border-color: #808080;
}