.date {
    float: right;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
}

.price {    
    font-size: 22px;
    margin-top: 10px;
}

.bidText {
    padding-top: 25px;
    font-size: 22px;
    margin-bottom: 0px;
}

.text {
    font-size: 18px;
}

.heading {
    margin-top: 10px;
}

.username {
    text-align: center;
}

.role {
    margin: 10px 0 0 10px;
}

.recipient {
    margin: 10px 0 0 10px;
    float: right;
}

.time {
    float: left;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
}