.date {
    float: right;
    font-style: italic;
    font-size: 18px;
}

.price {
    /* padding-top: 30px; */
    font-size: 22px;
}

.bidText {
    padding-top: 30px;
    font-size: 25px;
    margin-bottom: 0px;
}

.read {
    float: right;
}